html {
    font-size: 16px;
}

body {

}

@media (max-width: 480px) {
    body {
        background-color: #9b6760;
    }

    .history-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10%;
        margin-top: 10%;
        width: 80%;
        border-radius: 0.25rem;
        background-color: white;
    }

}