html {
    font-size: 16px;
}

body {
    /*background-color: #a62c2b;*/
}

@media (max-width: 480px) {
    .top-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shopping-menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #32527b;
        width: 8rem;
        height: 2.5rem;
        border-radius: 0.25rem;
    }

    .shopping-menu > button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-width: 0;
        height: 1rem;
        width: 1rem;
        border-radius: 1rem;
    }

    .shopping-menu > .close-btn {
        border-radius: 1rem;
        height: 1.5rem;
        width: 1.5rem;
    }
}
